@media screen and (max-width: 400px) {
    .nav-container{
        flex-direction: column;
        padding: 20px;
    }
    .logo-container{
        flex-direction: column;
        width: 100%;

    }
    
    .nav-item-container,.game-container,.online-games-container,.features {
        flex-direction: column;
       
    }
    
    .nav-item-container a{
        padding: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-text p{
        font-size: 50px;
    }
    .banner-text> .point{
       padding-left: 0;
       padding-top: 20px;
    }
    .banner-img img{
    
        width: 100%;
        
    }
    .game-text >h2{
        font-size: 30px;
    }
    .game-text> .purpose{
        font-size: 10px;
    }
   .online-games-container{
    padding-left:100px;
   }
   .online_games-title ,.funny ,.features-text>h2{
    font-size: 30px;
   }
   .features-text{
    width: 20%;
    justify-content: center;
   }
   .features-text span{
    font-size: 30px;
   }
 
   .features-img .big-img img{
    width: 50%;
    /* padding-right: 65rem; */
     margin-top: 40px;
     padding-right: 60rem;
   }
   .features-img  .big-img .relative-img img{
    width: 50%;
    padding-right:30rem;
    margin-bottom: 30px;
   }
   .icon-container{
    width: 20%;
    display: grid;
    /* flex-direction: row; */
    grid-template-columns:repeat(3,1fr);
    align-items: center;
    justify-content: center;
   }
   .icon span{
    font-size: 10px;

  }

  .icon img{
    width: 20%;
  }

  .game-footer{
    width: 100%;
    font-size: small;
    padding: 2px;
    height: 20%;
  }
}
@media screen and (max-width: 992px) {
    
}


